.footer{
    background-color: #385170;
    margin-top: 800px;
    color: aliceblue;
}

.header{
    background-color: #385170;
    border-radius: 5px;
    border-style: solid;
    margin-top: 5px;
}
body{
    background-color: #142d4c;
}
h3{
    color:aliceblue;
}
.card{
    background-color: #9fd3c7;
    color: #142d4c;
    border-radius: 20px;
    border-style: solid;
    border-color: #385170;
}
.backHome{
    margin-left: 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #385170;
    border: #385170;
    border-style: solid;
}